{% extends 'admin/base.html' %}

{% block content %}
<!--Start Container-->
<div id="main" class="container-fluid">
	<div class="row">
		<div id="sidebar-left" class="col-xs-2 col-sm-2">
			<ul class="nav main-menu">
				<li>
					<a href="{{ url_for('static', filename='/ajax/dashboard.html') }}" class="active ajax-link">
						<i class="fa fa-dashboard"></i>
						<span class="hidden-xs">Dashboard</span>
					</a>
				</li>
                <li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-angle-double-right"></i>
						 <span class="hidden-xs">Site Maintenance</span>
					</a>
					<ul class="dropdown-menu">
						<li><a class="ajax-link" href="{{ url_for('admin.settings') }}">Site settings</a></li>
						<li><a class="ajax-link" href="{{ url_for('admin.emails') }}">Emails</a></li>
					</ul>
				</li>
                <li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-pencil-square-o"></i>
						 <span class="hidden-xs">Blog</span>
					</a>
					<ul class="dropdown-menu">
						<li><a class="ajax-link" href="{{ url_for('admin.create_blog') }}">Add Blog</a></li>
						<li><a class="ajax-link" href="{{ url_for('admin.update_blog') }}">Edit Blog</a></li>
						<li><a class="ajax-link" href="{{ url_for('admin.edit_faq') }}">Edit FAQ</a></li>
					</ul>
				</li>
                <li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-shopping-cart"></i>
						 <span class="hidden-xs">Products</span>
					</a>
					<ul class="dropdown-menu">
						<li><a class="ajax-link" href="{{ url_for('admin.create_product') }}">Add Products</a></li>
						<li><a class="ajax-link" href="{{ url_for('admin.update_product') }}">Edit Products</a></li>
                        <li><a class="ajax-link" href="{{ url_for('admin.products') }}">Products</a></li>
					</ul>
				</li>
            <li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-shopping-cart"></i>
						 <span class="hidden-xs">Orders</span>
					</a>
					<ul class="dropdown-menu">
						<li><a class="ajax-link" href="{{ url_for('admin.orders') }}">All Orders</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!--Start Content-->
		<div id="content" class="col-xs-12 col-sm-10">
			<div id="about">
				<div class="about-inner">
					<h4 class="page-header">Admin Area for you</h4>
					<p>Tipasilk team</p>
					<p>Homepage - <a href="http://www.tipasilk.com" target="_blank">http://www.tipasilk.com</a></p>
				</div>
			</div>
			<div class="preloader">
				<img src="{{ url_for('static', filename='img/devoops_getdata.gif') }}" class="devoops-getdata" alt="preloader"/>
			</div>
			<div id="ajax-content"></div>
		</div>
		<!--End Content-->
	</div>
</div>
{% endblock %}

{% block script %}{% endblock %}