<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#000000">
    {% block meta %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>

    <link rel="shortcut icon" href="assets/images/favicons/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:100,300,400">
    <link rel="stylesheet" href="assets/css/main-unminified.css">
    <link rel="stylesheet" href="assets/css/ie_fix.css">
    {% block css %}{% endblock %}
</head>

<body id="null" data-spy=scroll data-target=#main-nav-collapse data-offset=100>
{% block nav %}
    {% include 'official/nav.html' ignore missing %}
{% endblock %}
{% block content %}{% endblock %}

{% block footer %}
    {% include 'official/footer.html' ignore missing %}
{% endblock %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src=assets/js/main.js></script>
{% block script %}{% endblock %}
</body>
</html>