<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
</head>

<body data-spy=scroll data-target=#main-nav-collapse data-offset=100>
{% block nav %}
{% include 'official/nav.html' ignore missing %}
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
{% block script %}{% endblock %}
</body>
</html>