<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#000000">
    {% block meta %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>

    <link href="{{ url_for('static', filename='plugins/bootstrap/bootstrap.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/main-unminified.css') }}" type="text/css">

</head>

<body id="null" data-spy=scroll data-target=#main-nav-collapse data-offset=100>
{% block nav %}{% include 'official/nav.html' ignore missing %}{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% include 'official/footer.html' ignore missing %}{% endblock %}
    <link rel="shortcut icon" href="/assets/images/favicons/favicon.ico">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:100,300,400">
{#    <link rel="stylesheet" href="/assets/css/ie_fix.css" type="text/css" property="stylesheet">#}
{% block css %}{% endblock %}

{#    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>#}
    <script type="text/javascript" src="{{ url_for('static', filename='/plugins/jquery/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/plugins/bootstrap/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src={{ url_for('static', filename='/assets/js/main.js') }}></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-73692853-1', 'auto');
        ga('send', 'pageview');

    </script>
{% block script %}{% endblock %}
</body>
</html>