{% extends 'official/base.html' %}

{% block content %}

    <header id=header class="home-parallax home-fade dark-bg header-inner">
        <div class=color-overlay></div>
        <div class=container>
            <h1>Blog</h1>
            <div>
                <ol class="breadcrumb">
                    <li><a href={{ url_for('index') }}>Home</a></li>
                    <li class="active">Blog</li>
                </ol>
            </div>
        </div>
    </header>
    <section id=blog class="section blog">
        <div class=container>
            <div id=blogContent class=section-content>
                <div class=row>
                    {% for post in g.posts[0:6] %}
                        <div class="col-sm-6 col-md-4">
                            <div class=blog-post>
                                <header>
                                    <h4 class=date>{{ post.created_on.strftime('%d') }}<br>{{ post.created_on.strftime('%b') }}
                                    </h4>

                                    {% for image in post.test_image %}
                                        <div class=blog-element><img class=img-responsive
                                                                     src='{{ url_for('image', size='image', img_id=image.id) }}'>
                                        </div>
                                    {% endfor %}
                                </header>
                                <div class=blog-content>
                                    <h4><a href={{ url_for('post', post_id=post.id) }}>{{ post.title }}</a></h4>

                                    <div class=post-meta><span>By <a href=#>Tipasilk</a></span>
                                        <span>{{ post.created_on.strftime('%d/%m/%y') }}</span>
                                    </div>
                                    <span>{{ post.body|safe|truncate(178) }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class=text-center><a id=loadBlogPosts class="btn btn-dark">Load More <span class=caret></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}