<div class="container">
    <div id="shopping-cart">
        {% if 'cart' in session %}
            <div id="cart" data-toggle="modal" data-target=".bs-example-modal-sm" style="width: 180px; border: solid white 1px; border-radius: 5px;color: white; padding: 3px; background-color: rgba(123, 0, 0, 0.6); margin-bottom: 2px;">
                {% set products = [0] %}
                {% for item in session['cart'] %}
                    {% for key, value in item.iteritems() %}
                        {% if products.append(products.pop() + value) %}{% endif %}
                    {% endfor %}
                {% endfor %}
                Total: {{ products }} Products
            </div>
        {% else %}
        {% endif %}
    </div>
</div>