<form name="checkoutForm" method="POST" action="checkout">
    <input type="hidden" name="description" value="Product order ฿100.25" />
    <script type="text/javascript" src="https://cdn.omise.co/card.js"
      data-key="YOUR_PUBLIC_KEY"
      data-image="PATH_TO_LOGO_IMAGE"
      data-frame-label="Merchant site name"
      data-button-label="Pay now"
      data-submit-label="Submit"
      data-location="yes"
      data-amount="10025"
      data-currency="thb"
      >
    </script>
    <!--the script will render <input type="hidden" name="omiseToken"> for you automatically-->
</form>

<form name="checkoutForm" method="POST" action="checkout" class="form-inline">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="hidden" name="description" value="Product order ฿{{ price[0]*100 }}"/>
                    <script type="text/javascript" src="https://cdn.omise.co/card.js"
                            data-key="pkey_test_53ekvecxbb9ugf1za7w"
                            data-frame-label="Tipasilk"
                            data-button-label="Checkout"
                            data-submit-label="Submit"
                            data-location="yes"
                            data-amount="{{ price[0]*100 }}"
                            data-currency="thb"
                            >
                    </script>
                    <!--the script will render <input type="hidden" name="omiseToken"> for you automatically-->
                </form>


<script type="text/javascript">
    var link = document.getElementsByTagName("BUTTON");
    link[link.length - 1].className = "btn btn-primary";
</script>