{% extends 'official/base.html' %}

{% block title %}FAQ | Tipasilk{% endblock %}

{% block css %}{% endblock %}

{% block content %}
    <header id=header class="home-parallax home-fade dark-bg header-inner">
        <div class=color-overlay></div>
        <div class=container>
            <h1>FAQ</h1>

            <div class=breadcrumb><a href={{ url_for('index') }}>Home</a> <i class="fa fa-angle-double-right"></i> <a
                    href=#>FAQ</a></div>
        </div>
    </header>
    <section id=faq class="section faq">
        <div class=container>
            <div class=row>
                <div class="col-sm-8 col-sm-offset-2">
                    <div role=tabpanel>
                        <ul class="nav nav-tabs font-alt" role=tablist>
                            <li class=active>
                                <a href=#support data-toggle=tab>
                                    <span class=ion-heart></span>
                                    Support
                                </a>
                            </li>
                            <li>
                                <a href=#sales data-toggle=tab>
                                    <span class=ion-ios-cart></span>
                                    Sales
                                </a>
                            </li>
                            <li>
                                <a href=#notice data-toggle=tab>
                                    <span class=ion-speakerphone></span>
                                    Notice
                                </a>
                            </li>
                        </ul>
                        <div class=tab-content>
                            <div class="tab-pane active" id=support>
                                <div class=panel-group id=accordion>
                                    {% for faq in faqs %}
                                        {% if faq.section == 'support' %}
                                            <div class="panel panel-default">
                                                <div class=panel-heading>
                                                    <h4 class="panel-title font-alt">
                                                        <a data-toggle=collapse data-parent=#accordion
                                                           href=#{{ faq.id }}>
                                                            {{ faq.title|safe }}
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="{{ faq.id }}" class="panel-collapse collapse">
                                                    <div class=panel-body>
                                                        {{ faq.body|safe }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="tab-pane active" id=sales>
                                <div class=panel-group id=accordion2>
                                    {% for faq in faqs %}
                                        {% if faq.section == 'sales' %}
                                            <div class="panel panel-default">
                                                <div class=panel-heading>
                                                    <h4 class="panel-title font-alt">
                                                        <a data-toggle=collapse data-parent=#accordion2
                                                           href=#{{ faq.id }}>
                                                            {{ faq.title|safe }}
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="{{ faq.id }}" class="panel-collapse collapse">
                                                    <div class=panel-body>
                                                        {{ faq.body|safe }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="tab-pane active" id=notice>
                                <div class=panel-group id=accordion3>
                                    {% for faq in faqs %}
                                        {% if faq.section == 'notice' %}
                                            <div class="panel panel-default">
                                                <div class=panel-heading>
                                                    <h4 class="panel-title font-alt">
                                                        <a data-toggle=collapse data-parent=#accordion3
                                                           href=#{{ faq.id }}>
                                                            {{ faq.title|safe }}
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="{{ faq.id }}" class="panel-collapse collapse">
                                                    <div class=panel-body>
                                                        {{ faq.body|safe }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}{% endblock %}