<section id=footer-widgets class="section footer-widgets dark-bg">
    <div class=container>
        <div class=row>
            <div class="col-md-3 col-sm-6">
                <div class="content-wrap widget-text">
                    <h4>About Tipasilk</h4>

                    <p>Tipa silk comes from the Isaan part of Thailand.
                        The silk is produced by locals and hand woven into scarfs and fabrics that’s been used to make
                        the finest clothes.
                        Isaan is pronounced e- saan and is a big area of Thailand that’s connected to Cambodia and
                        Laos.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-wrap widget-contact">
                    <h4>Contact info</h4>
                    <ul>
                        <li><i class=ion-home></i> Moo 2 Saphonasung, Bangkok, Thailand</li>
                        <li><i class=ion-android-call></i> +66 (0) 87 834 9344</li>
                        <li><i class=ion-email></i> info@tipasilk.com</li>
                        <li><i class=ion-ios-location></i> Map and Direction</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-wrap widget-recent-posts">
                    <h4>Recent Posts</h4>
                    <ul>
                        {% for post in g.posts[-3:] %}
                        <li><a href={{ url_for('post', post_id=post.id) }} class=post-title>{{ post.title }}</a>
                            by
                            <a href=# class=author>Tipasilk</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-wrap widget-gallery">
                    <h4>Photo Gallery</h4>

                    <div class="lightbox-gallery">
                        {% for image in g.thumbnail[-2:] %}
                            {% if image.thumbnail %}
                                <a href="{{ url_for('product_spec', prod_id=image.product_id) }}">
                                    <img src="{{ url_for('image', size='thumbnail', img_id=image.id) }}" alt="{{ image.id }}" style="max-height: 125px;">
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer id=footer class=footer>
    <div class=container>
        <div class=row>
            <div class="col-md-3 col-sm-4">
                <p class="copyright text-xs-center">&copy; 2016 Tipasilk</p>
            </div>
            <div class="col-md-5 col-sm-4">
                <ul class="footer-social-block">
                    <li><a href="https://www.facebook.com/Tipasilk/" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href=#><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="footer-menu text-xs-center"><a href=#>Privacy Policy</a> | <a>Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<a id=totop href=#totop><i class="fa fa-angle-double-up"></i></a>