{% extends 'official/base.html' %}

{% block meta %}
    <meta name="Description" content="A fat free flat responsive corporate agency template specially made from silk.">
    <meta name="keywords" content="Silk, Fabric, scarf, Silky, silky smooth">
{% endblock %}

{% block title %}Home | Tipasilk{% endblock %}

{% block css %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<header id=header class="header-wrapper home-parallax home-fade dark-bg">
    <div class=color-overlay></div>
    <div class=header-wrapper-inner>
        <div class=container>
            <div class=intro>
                <h1>Smooth as silk<em>!</em></h1>
                <p>Thats How We Roll</p><a href={{ url_for('product') }} class="btn btn-default-o onPageNav">Our Shop</a>
            </div>
        </div>
        <div class=arrow-down><a href=#about-us class=onPageNav><i class=ion-ios-arrow-down></i></a></div>
    </div>
</header>
<section id=about-us class="section about-us">
    <div class=container>
        <header class=section-heading>
            <h2>About Us</h2><span>Everything you need to know about our Company</span></header>
        <div class=section-content>
            <div class=row>
                <div class=col-sm-4>
                    <div class="about-content left">
                        <h4>We're Creative</h4>
                        <p>Lorem adipipsum idolor sit iamet, iconsectetur aisicing elit. Necessitatibus illo vel dolorum
                            soluta consectetur doloribus sit. Delectus non tenetur odit dicta vitae debitis suscipitaut
                            voluptas quaerat consectetur.</p>
                    </div>
                </div>
                <div class=col-sm-4>
                    <figure class="about-content center"><img class="img-responsive center-block"
                                                              src=assets/images/about-us/center_image.jpg></figure>
                </div>
                <div class=col-sm-4>
                    <div class="about-content right">
                        <h4>We're Friendly</h4>
                        <p>Lorem adipipsum dolor sit amet, consecteturno aisicing elit. Necessitatibus illo vel
                            dolorumsa soluta consectetur doloribus sit. Delectus tenetur odit dicta vitae debitis susc
                            ipitaut voluptas quaerat dolorum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block script %}{% endblock %}