{% extends 'official/base.html' %}

{% block title %}Home | Tipasilk{% endblock %}

{% block css %}
    <style type="text/css">.gm-style .gm-style-mtc label, .gm-style .gm-style-mtc div {
        font-weight: 400
    }</style>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
    <style type="text/css">.gm-style .gm-style-cc span, .gm-style .gm-style-cc a, .gm-style .gm-style-mtc div {
        font-size: 10px
    }</style>
    <style type="text/css">@media print {
        .gm-style .gmnoprint, .gmnoprint {
            display: none
        }
    }

    @media screen {
        .gm-style .gmnoscreen, .gmnoscreen {
            display: none
        }
    }</style>
    <style type="text/css">.gm-style {
        font-family: Roboto, Arial, sans-serif;
        font-size: 11px;
        font-weight: 400;
        text-decoration: none
    }

    .gm-style img {
        max-width: none
    }</style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="A fat free flat responsive corporate agency templae">
    <meta name="keywords" content="Agency, Corporate, Flat, Responsive">
    <title>R E ! G N - Home Multi-Page | Fat free responsive agency template</title>
    <link rel="shortcut icon" href="assets/images/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="assets/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="assets/lib/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/lib/ionicons/css/ionicons.css">
    <link rel="stylesheet" href="assets/lib/owlcarousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/lib/owlcarousel/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="assets/lib/FlexSlider/flexslider.css">
    <link rel="stylesheet" href="assets/lib/magnific-popup/dist/magnific-popup.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:100,300,400">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/ie_fix.css">
    <script style="" src="assets/lib/components-modernizr/modernizr.js"></script>
    <script src="assets/lib/jquery/dist/jquery.js"></script>
    <script src="assets/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://maps.googleapis.com/maps-api-v3/api/js/23/6/common.js" charset="UTF-8"
            type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps-api-v3/api/js/23/6/map.js" charset="UTF-8"
            type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps-api-v3/api/js/23/6/util.js" charset="UTF-8"
            type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps-api-v3/api/js/23/6/marker.js" charset="UTF-8"
            type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps-api-v3/api/js/23/6/onion.js" charset="UTF-8"
            type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps-api-v3/api/js/23/6/stats.js" charset="UTF-8"
            type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps-api-v3/api/js/23/6/controls.js" charset="UTF-8"
            type="text/javascript"></script>
{% endblock %}

{% block content %}

    <div style="display: none;" class="page-loader">
        <div style="display: none;" class="loader">Loading...</div>
    </div>

    <header style="top: 0px;" id="header" class="header-wrapper home-parallax home-fade dark-bg">
        <div style="opacity: 0.3;" class="color-overlay"></div>
        <div class="header-wrapper-inner">
            <div class="container">
                <div style="opacity: 1;" class="intro">
                    <h1>To Begin, Begin</h1>

                    <p>Thats How My Life Rolls</p><a href="#services" class="btn btn-default-o onPageNav">Our
                    Services</a>
                </div>
            </div>
            <div class="arrow-down"><a href="#about-us" class="onPageNav"><i class="ion-ios-arrow-down"></i></a></div>
        </div>
    </header>


    <section id="about-us" class="section about-us">
        <div class="container">
            <header class="section-heading">
                <h2>About Us</h2><span>Everything you need to know about our Company</span></header>
            <div class="section-content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="about-content left">
                            <h4>We're Creative</h4>

                            <p>Lorem adipipsum idolor sit iamet, iconsectetur aisicing elit. Necessitatibus illo vel
                                dolorum
                                soluta consectetur doloribus sit. Delectus non tenetur odit dicta vitae debitis
                                suscipitaut
                                voluptas quaerat consectetur.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <figure class="about-content center"><img class="img-responsive center-block"
                                                                  src="assets/images/about-us/center_image.jpg">
                        </figure>
                    </div>
                    <div class="col-sm-4">
                        <div class="about-content right">
                            <h4>We're Friendly</h4>

                            <p>Lorem adipipsum dolor sit amet, consecteturno aisicing elit. Necessitatibus illo vel
                                dolorumsa soluta consectetur doloribus sit. Delectus tenetur odit dicta vitae debitis
                                susc
                                ipitaut voluptas quaerat dolorum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}

{% block script %}
    <script src=assets/lib/components-modernizr/modernizr.js></script>
    <script src=assets/lib/jquery/dist/jquery.js></script>
    <script src=assets/lib/bootstrap/dist/js/bootstrap.js></script>
{% endblock %}