<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            {% for item in session['cart'] %}
                {% for key, value in item.iteritems() %}
                    [<a href="#">x</a>] {{ key }} {{ value|int }} {% if value <= 1 %}Piece{% else %}
                    Pieces
                {% endif %}<br/>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>