<nav id=fixedTopNav class="navbar navbar-fixed-top main-navigation" itemscope
     itemtype=https://schema.org/SiteNavigationElement role=navigation>
    <div class=container>
        <div class=navbar-header>
            <button type=button class="navbar-toggle collapsed" data-toggle=collapse data-target=#main-nav-collapse>
                <span class=sr-only>Toggle navigation</span> <span class=ion-drag></span></button>
            <div class=navbar-brand itemscope itemtype=https://schema.org/Organization><span itemprop=name
                                                                                             class=sr-only>Tipasilk</span>
                <a itemprop=url href="{{ url_for('index') }}">t<em>!</em>pasilk</a></div>
        </div>
        <div class="collapse navbar-collapse" id=main-nav-collapse>
            <ul class="nav navbar-nav navbar-right" role=menu>
                <li class=dropdown><a href={{ url_for('index') }}><span>Home</span></a></li>
                <li class=dropdown><a href={{ url_for('product') }}><span>Products</span></a></li>
                <li class=dropdown><a href={{ url_for('blog') }}><span>Blog</span></a></li>
                <li class=dropdown><a href={{ url_for('faq') }}><span>FAQ</span></a></li>
                <li class=dropdown><a href={{ url_for('contact') }}><span>Contact</span></a></li>
                <li class=dropdown><a href={{ url_for('about') }}><span>About us</span></a></li>
            </ul>
        </div>
    </div>
</nav>