{% extends 'official/base.html' %}

{% block content %}

    <header id=header class="home-parallax home-fade dark-bg header-inner">
        <div class=color-overlay></div>
        <div class=container>
            <h1>Post</h1>

            <div class=breadcrumb><a href={{ url_for('index') }}>Home</a> <i class="fa fa-angle-double-right"></i> <a
                    href={{ url_for('blog') }}>Blog</a> <i class="fa fa-angle-double-right"></i> <a href=#>Post</a>
            </div>
        </div>
    </header>
    <section id=blog-single class="section blog blog-standard">
        <div class=container>
            <div class=row>
                <div class="col-md-8 col-md-offset-2">
                    <div class="row blog-post">
                        <div class=col-md-12>
                            <div class=featured-image>
                                {% for image in post.test_image %}
                                <img src='data:image/jpg;base64,{{ image.image }}' class=img-responsive>
                                {% endfor %}
                            </div>
                            <h2 class=post-title><a href={{ url_for('post', post_id=post.id) }}>{{ post.title }}</a>
                            </h2>

                            <div class=post-meta>by <a href=#>Admin</a>
                                <span>|</span> {{ post.created_on.strftime('%d %b') }}
                                <span>|</span> 3 Comments <span>|</span> <a href=#>Web Design</a></div>
                            <div class=post-content>
                                <p>{{ post.body|safe }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}