{% extends 'official/base.html' %}

{% block content %}
    <header class="home-parallax home-fade dark-bg header-inner" id="header">
        <div class="color-overlay"></div>
        <div class="container">
            <h1>Product Details</h1>

            <div class="breadcrumb"><a href="{{ url_for('index') }}">Home</a> <i class="fa fa-angle-double-right"></i>
                <a href="{{ url_for('product') }}">Products</a> <i class="fa fa-angle-double-right"></i><a href="#">Product details</a></div>
        </div>
    </header>
    <section class="section single-portfolio" id="single-portfolio">
        {% for d in data %}
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <p class="led"> {{ d.shortdesc }}</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="flexslider">
                            {% for images in d.images[0:2] %}
                                <img src="data:image/jpg;base64,{{ images.image }}" draggable="false">
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row portfolio-details-single">
                    <div class="col-sm-4 col-md-3 col-md-offset-1">
                        <h3>{{ d.name }}</h3>
                        <ul>
                            <li><strong>Manufacturer:</strong> Tipasilk</li>
                            <li><strong>Date:</strong> {{ d.created_on.strftime('%d %b %Y') }}</li>
                        </ul>
                    </div>
                    <div class="col-sm-8 col-md-7">
                        <h3>{{ d.name }} Story</h3>

                        <p>{{ d.longdesc|safe }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}