{% extends 'official/base.html' %}

{% block title %}Products | Tipasilk{% endblock %}

{% block content %}
    <header id=header class="home-parallax home-fade dark-bg header-inner">
        <div class=color-overlay></div>
        <div class=container>
            <h1>Products</h1>
            <div>
                <ol class="breadcrumb">
                    <li><a href={{ url_for('index') }}>Home</a></li>
                    <li class="active">Products</li>
                </ol>
            </div>
        </div>
    </header>
    <section id=portfolio class="section portfolio">
        <div class=container>
            <div class=section-content>
                <div class=main_content>
                    <div class=isotop-filter id=filters>
                        <button type=button class="btn btn-isotop is-checked" data-filter=*>All</button>
                        <button type=button class="btn btn-isotop" data-filter=.design>Web</button>
                        <button type=button class="btn btn-isotop" data-filter=.wordpress>WordPress</button>
                        <button type=button class="btn btn-isotop" data-filter=.marketing>Marketing</button>
                        <button type=button class="btn btn-isotop" data-filter=.brandidentity>Brand Identity</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="mygallery">
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a href="{{ url_for('product_spec', prod_id=product.id) }}">
                                    {% for image in product.images[0:1] %}
                                        <img src="{{ url_for('image', size='image', img_id=image.id) }}" alt="{{ product.shortdesc }}">
                                        <div class="caption">
                                            <strong>{{ product.shortdesc }}</strong>
                                        </div>
                                    {% endfor %}
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block css %}{% endblock %}
{% block script %}{% endblock %}