{% extends 'official/base.html' %}

{% block content %}
    <header class="home-parallax home-fade dark-bg header-inner" id="header">
        <div class="color-overlay"></div>
        <div class="container">
            <h1>Product Details</h1>

            <div class="breadcrumb"><a href="{{ url_for('index') }}">Home</a> <i class="fa fa-angle-double-right"></i>
                <a href="{{ url_for('product') }}">Products</a> <i class="fa fa-angle-double-right"></i><a href="#">Product
                    details</a></div>
        </div>
    </header>

    <section id=about-us class="section about-us">
        <div class=container>
            <div class=section-content>
                {% for products in data %}
                    <div class="productInfo">
                        <div class="product-header-wrapper" style="margin: 20px 15px 20px; border-bottom: solid 1px #DDDDDD">
                            <div class="header-title">
                                <strong><a href="#">{{ products.name|safe|title }} </a>
                                    <small>{{ products.shortdesc|safe|capitalize }}</small>
                                </strong>
                            </div>
                        </div>

                        <div class="image-wrapper" style="width: 600px;min-height: 400px; float: left;">
                            <div class="thumbnails" style="width: 120px; height: 400px; padding: 0 10px; float: left; border-right: solid 1px #DDDDDD; ">
                                {% for image in products.images %}
                                    <img id="thumbnail-{{ image.id }}" src="data:image/jpg;base64,{{ image.thumbnail }}" style="padding: 5px 0 2px 0; cursor: pointer;">
                                {% endfor %}
                            </div>
                            <div class="main-image">
                                {% for image in products.images[0:1] %}
                                    <img id="product-image" src="data:image/jpg;base64,{{ image.image }}" style="padding: 5px 15px 0 70px; max-height: 400px;">
                                {% endfor %}
                            </div>
                        </div>

                        <div class="product-content-wrapper">
                            <div class="product-left-content" style="float: left; width: 250px; height: 400px;  padding-left: 10px;">
                                <div class="product-content" style="max-height: 60px; border-bottom: 1px solid #DDDDDD; padding-bottom: 10px;">
                                    <ul style="font-size: 13px; margin: 0;">
                                        <li>test</li>
                                        <li>test</li>
                                    </ul>
                                </div>

                                <div class="promotions" style="border-bottom: 1px solid #DDDDDD; color: #5CB6C2; max-height: 60px; padding: 5px 0 5px 0;">
                                    <span class="fa fa-gift"></span> if any promotions show here! and no where else.
                                </div>

                                <div class="options" style="border-bottom: 1px solid #DDDDDD; font-size: small; min-height: 100px;">
                                    options goes in here!
                                    <div class="col-md-6">
                                        <select class="form-control" style="font-size: x-small;">
                                            <optgroup label="select size">
                                                <option>SM</option>
                                                <option>LG</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>

                                <div class="product-price" style="padding-top: 5px; line-height: 30px; border-bottom: 1px solid #DDDDDD">
                                    <p style="font-size: 24px; color: #333;">{{ products.price|int }} <span>฿</span></p>

                                    <p style="font-size: 13px; line-height: 16px; color: #646464;">{{ products.longdesc|safe|capitalize }}</p>
                                </div>
                                <div class="add-to-cart" style="padding: 30px;">
                                    <form>
                                        <input type="submit" class="btn btn-primary" value="ADD TO CART">
                                    </form>
                                </div>
                            </div>
                            <div class="product-right-content" style=" width: 250px; height: 400px; float: left; padding-left: 15px;">
                                <div class="right-content" style="background-color: #d3d3d3; height: 400px;">
                                    <div class="side-header" style="border-bottom: 1px solid #FFFFFF; padding: 5px;">
                                        <p>Some text about how to order should be here!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}

{% block script %}
    <script type="text/javascript">var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script type="text/javascript">
        $("[id^=thumbnail-]").click('[id^=thumbnail-]', function () {
            $.getJSON($SCRIPT_ROOT + '/load-image', {
                a: $(this).attr('id')
            }, function(data){
                $("#product-image").attr('src', 'data:image/jpg;base64,' + data.result);
            });
            return false;
        });
    </script>
{% endblock %}