{% extends 'official/base.html' %}

{% block content %}
    <header class="home-parallax home-fade dark-bg header-inner" id="header">
        <div class="color-overlay"></div>
        <div class="container">
            <h1>Product Details</h1>

            <div class="breadcrumb"><a href="{{ url_for('index') }}">Home</a> <i class="fa fa-angle-double-right"></i>
                <a href="{{ url_for('product') }}">Products</a> <i class="fa fa-angle-double-right"></i><a href="#">Product
                    details</a></div>
        </div>
    </header>

    <section id=about-us class="section about-us">
        <div class=container>

            <div class=section-content>
                {% for products in data %}
                    <div class="productInfo">
                        <div class="product-header-wrapper">
                            <div class="header-title">
                                <strong><a href="#">{{ products.name|safe|title }} </a>
                                    <small>{{ products.shortdesc|safe|capitalize }}</small>
                                </strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-md-6">
                                <div id="basicExample">
                                    {% for image in products.images %}
{#                                          <img class="thumbnail-img" id="thumbnail-{{ image.id }}" src="data:image/jpg;base64,{{ image.thumbnail }}">#}
                                        <a href="{{ url_for('image', size='image', img_id=image.id) }}" class="fancybox" rel="gallery" title="{{ products.shortdesc }}">
                                        <img src="{{ url_for('image', size='thumbnail', img_id=image.id) }}" alt="{{ products.name }}"/>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="product-content-wrapper">
                                    <div class="product-left-content">
                                        <div class="product-content">
                                            <ul id="tags">
                                                <li>test</li>
                                                <li>test</li>
                                            </ul>
                                        </div>

                                        <div id="promotions">
                                            <span class="fa fa-gift"></span> if any promotions show here! and no where
                                            else.
                                        </div>

                                        <div id="options">
                                            options goes in here!
                                            <div class="col-md-6">
                                                <select id="options-select" class="form-control">
                                                    <optgroup label="select size">
                                                        <option>SM</option>
                                                        <option>LG</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>

                                        <div id="product-price">
                                            <p id="product-price-price">{{ products.price|int }} <span>฿</span></p>

                                            <p id="product-longdesc">{{ products.longdesc|striptags|capitalize }}</p>
                                        </div>
                                        <div class="add-to-cart">
                                            <form>
                                                <input type="submit" class="btn btn-primary" value="ADD TO CART">
                                            </form>
                                        </div>
                                    </div>
                                    <div class="product-right-content">
                                        <div class="right-content">
                                            <div class="side-header">
                                                <p>Some text about how to order should be here!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/product-temp.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/plugins/fancybox/jquery.fancybox.css') }}" media="screen"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='/plugins/justified-gallery/justifiedGallery.min.css') }}"/>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script type="text/javascript">var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script type="text/javascript" src="{{ url_for('static', filename='/plugins/fancybox/jquery.fancybox.pack.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/plugins/justified-gallery/jquery.justifiedGallery.min.js') }}"></script>

{#    <script type="text/javascript">#}
{#        $("[id^=thumbnail-]").click('[id^=thumbnail-]', function () {#}
{#            $.getJSON($SCRIPT_ROOT + '/load-image', {#}
{#                a: $(this).attr('id')#}
{#            }, function (data) {#}
{#                $("#product-image").attr('src', 'data:image/jpg;base64,' + data.result);#}
{#            });#}
{#            return false;#}
{#        });#}
{#    </script>#}
    <script type="text/javascript">
    $("#basicExample").justifiedGallery({
        rowHeight : 200,
        margins : 3
    })
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox").fancybox({
                prevEffect : 'none',
                nextEffect : 'none',
                helpers: {
                    title: {
                        type: 'inside'
                    },
                    thumbs: {
                      width : 50,
                        height : 50
                    },
                    overlay: {
                        css: {
                            'background': 'rgba(255,255,255,0.5)'
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}