{% extends 'official/base.html' %}

{% block title %}Products | Tipasilk{% endblock %}

{% block content %}
    <header id=header class="home-parallax home-fade dark-bg header-inner">
        <div class=color-overlay></div>
        <div class=container>
            <h1>Products</h1>

            <div class=breadcrumb><a href={{ url_for('index') }}>Home</a> <i class="fa fa-angle-double-right"></i>
                <a href=#>Products</a>
            </div>
        </div>
    </header>
    <section id=portfolio class="section portfolio">
        <div class=container>
            <div class=section-content>
                <div class=main_content>
                    <div class=isotop-filter id=filters>
                        <button type=button class="btn btn-isotop is-checked" data-filter=*>All</button>
                        <button type=button class="btn btn-isotop" data-filter=.design>Web</button>
                        <button type=button class="btn btn-isotop" data-filter=.wordpress>WordPress</button>
                        <button type=button class="btn btn-isotop" data-filter=.marketing>Marketing</button>
                        <button type=button class="btn btn-isotop" data-filter=.brandidentity>Brand Identity</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="mygallery">
                {% for product in products %}
                    <a href="{{ url_for('product_spec', prod_id=product.id) }}">
                        {% for image in product.images[0:1] %}
                            <img src="{{ url_for('image', size='image', img_id=image.id) }}" alt="{{ product.shortdesc }}">
                            <div class="caption">
                            <strong>{{ product.shortdesc }}</strong>
                            </div>
                        {% endfor %}
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/plugins/justified-gallery/justifiedGallery.min.css') }}"/>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='/plugins/justified-gallery/jquery.justifiedGallery.min.js') }}"></script>
    <script type="text/javascript">
        $("#mygallery").justifiedGallery({
            rowHeight : 404,
            margin : 3,
            captions : true
        })
    </script>
{% endblock %}