{% extends 'official/base.html' %}

{% block title %}Products | Tipasilk{% endblock %}

{% block css %}{% endblock %}

{% block content %}
    <header id=header class="home-parallax home-fade dark-bg header-inner">
        <div class=color-overlay></div>
        <div class=container>
            <h1>Portfolio</h1>

            <div class=breadcrumb><a href=>Home</a> <i class="fa fa-angle-double-right"></i> <a href=#>Products</a>
            </div>
        </div>
    </header>
    <section id=portfolio class="section portfolio">
        <div class=container>
            <div class=section-content>
                <div class=main_content>
                    <div class=isotop-filter id=filters>
                        <button type=button class="btn btn-isotop is-checked" data-filter=*>All</button>
                        <button type=button class="btn btn-isotop" data-filter=.design>Web</button>
                        <button type=button class="btn btn-isotop" data-filter=.wordpress>WordPress</button>
                        <button type=button class="btn btn-isotop" data-filter=.marketing>Marketing</button>
                        <button type=button class="btn btn-isotop" data-filter=.brandidentity>Brand Identity</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container portfolio-grid three-col">
            <ul id=da-thumbs class="da-thumbs isotope">
                {% for product in products %}
                    <li data-category=design class=design>
                        <a href=portfolio__single.html>
                            {% for image in product.images[0:1] %}
                                <img src="data:image/jpg;base64,{{ image.image }}">
                            {% endfor %}

                            <div class=portfolio-detail-overlay>
                                <div class=middle-align-wrap>
                                    <div class=middle-align-cell>
                                        <h4>{{ product.name }}</h4><span>{{ product.shortdesc }}</span></div>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

{% endblock %}

{% block script %}{% endblock %}