{% extends 'official/base.html' %}


{% block content %}
    <header class="home-parallax home-fade dark-bg header-inner" id="header">
        <div class="color-overlay"></div>
        <div class="container">
            <h1>Product Details</h1>

            <div class="breadcrumb"><a href="{{ url_for('index') }}">Home</a> <i class="fa fa-angle-double-right"></i>
                <a href="{{ url_for('product') }}">Products</a> <i class="fa fa-angle-double-right"></i><a href="#">Product details</a></div>
        </div>
    </header>



{% endblock %}