{% extends 'official/base.html' %}

{% block content %}
    <header id=header class="home-parallax home-fade dark-bg header-inner">
        <div class=color-overlay></div>
        <div class=container>
            <h1>Test</h1>

            <div class=breadcrumb><a href={{ url_for('index') }}>Home</a> <i class="fa fa-angle-double-right"></i> <a
                    href=#>test</a></div>
        </div>
    </header>

    <section id="blog">
        <div id="test" class="container">
            <div>
                <form method="POST" action="test" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <input type="file" name="exampleInputFile">

                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            <div>
                {% for i in img %}
                    <img src="data:image/jpg;base64,{{ i.image }}"/>
                    <form id="delete" method="POST" action="delete-test">
                        <input type="hidden" name="delete" value="{{ i.id }}">
                        <input type="submit" value="Delete {{ i.id }}">
                    </form>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}