<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
    <title>Admin pages | Tipasilk</title>

</head>
<body>
{% block nav %}
    {% include 'admin/nav.html' ignore missing %}
{% endblock %}
{% block content %}{% endblock %}

    <link href="{{ url_for('static', filename='plugins/bootstrap/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='plugins/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='plugins/fancybox/jquery.fancybox.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='plugins/fullcalendar/fullcalendar.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='plugins/xcharts/xcharts.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='plugins/select2/select2.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='plugins/justified-gallery/justifiedGallery.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style_v1.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='plugins/chartist/chartist.min.css') }}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
				<script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
				<script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
		<![endif]-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="http://code.jquery.com/jquery.js"></script>-->
<script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-ui/jquery-ui.min.js') }}"></script>
<!-- Include all admin/compiled plugins (below), or include individual files as needed -->
<script src="{{ url_for('static', filename='plugins/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/justified-gallery/jquery.justifiedGallery.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/tinymce/tinymce.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/tinymce/jquery.tinymce.min.js') }}"></script>
<!-- All functions fadmin/or this theme + document.ready processing -->
<script src="{{ url_for('static', filename='js/devoops.js') }}"></script>
{% block script %}{% endblock %}

</body>
</html>