{% extends 'admin/tipasilk/base.html' %}

{% block content %}
    <div class="row">
        <div id="breadcrumb" class="col-xs-12">
            <a href="#" class="show-sidebar">
                <i class="fa fa-bars"></i>
            </a>
            <ol class="breadcrumb pull-left">
                <li><a href="{{ url_for('admin') }}">Dashboard</a></li>
                <li><a href="#">Forms</a></li>
                <li><a href="#">Forms layouts</a></li>
            </ol>
            <div id="social" class="pull-right">
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-sm-8">
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <i class="fa fa-search"></i>
                        <span>Product form</span>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="expand-link">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                    <div class="no-move"></div>
                </div>
                <div class="box-content">
                    <h4 class="page-header">Add Products</h4>

                    <form class="form-horizontal" role="form" method="POST" action="create-product"
                          enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Product CODE</label>

                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Product CODE" data-toggle="tooltip"
                                       data-placement="bottom" title="Type in your product code or number"
                                       name="product_nr">
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="col-sm-2 control-label">Product name</label>

                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Product name" data-toggle="tooltip"
                                       data-placement="bottom" title="Type your product name" name="name"
                                       required="required">
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="col-sm-2 control-label">Description</label>

                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Short Description" name="shortdesc"
                                       required="required">
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="col-sm-2 control-label">Category</label>

                            <div class="col-sm-4">
                                <select class="form-control" id="category" name="category">
                                    <option disabled="" selected="">-- select category --</option>
                                    {% for categories in category %}
                                        <option value="{{ categories.id }}">{{ categories.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <label class="col-sm-2 control-label">Add Category</label>

                            <div class="col-sm-4">
                                <input type="text" id="cat-text" name="add-category" placeholder="add a category">
                                <button class="btn btn-xs btn-primary" id="add-cat" name="add-cat" value="Add">Add
                                </button>
                                <p class="help-block">Add a new category!</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="form-styles">Long Description</label>

                            <div class="col-sm-10">
                                <textarea class="form-control" rows="5" id="wysiwig_create" name="longdesc"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Product price</label>

                            <div class="col-sm-2">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                                    <input type="number" class="form-control" placeholder="Price" name="price">
                                    <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Product image</label>

                            <div class="col-sm-2">
                                <input type="file" name="imageInput">

                                <p class="help-block">Add an image to your product</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-2">
                                <button type="cancel" class="btn btn-default btn-label-left">
                                    Cancel
                                </button>
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-primary btn-label-left">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4">
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <i class="fa fa-archive"></i>
                        <span>Products</span>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="expand-link">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                    <div class="no-move"></div>
                </div>
                <div class="box-content">
                    <div class="list-group">
                        {% for products in product %}
                            <a href="#" class="list-group-item">

                                <div class="list-group-item-heading">
                                    <p>{{ products.id }} <i>{{ products.product_nr }}</i> {{ products.name }}</p>
                                </div>
                                <div class="list-group-item-text">
                                    {{ products.shortdesc|safe }}
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <i class="fa fa-balance-scale"></i>
                        <span>Edit Product</span>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="expand-link">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                    <div class="no-move"></div>
                </div>
                <div class="box-content">
                    <div id="edit-product">Select a product to edit!</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $('#add-cat').click(function () {
            $.getJSON($SCRIPT_ROOT + '/add-category', {
                a: $('#cat-text').val()
            }, function (data) {
                var selectbox = $('#category');
                selectbox.empty();
                var list = '';
                for (var j = 0; j < data.result.length; j++) {
                    list += "<option value='" + data.result[j][0] + "'>" + data.result[j][1] + "</option>";
                }
                selectbox.html(list);
                $("#category").attr('value', data.result);
            });
            return false;
        });

        $(document).ready(function () {
            // Create Wysiwig editor for textare
            TinyMCEStart('[id^=wysiwig_]', null);
            // Add drag-n-drop feature to boxes
            WinMove();
        });
    </script>
{% endblock %}